.container
  .well.col-sm-6.col-md-4.col-md-offset-4
    %h2 Log In
    =# form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = form_tag sessions_path, class: 'form-horizontal' do
      .row.form-group
        %div{:class => "col-sm-8"}
          %p= text_field_tag :user_name, params[:user_name], :class => "form-control", :placeholder => "Username", :autofocus => true
          =# f.text_field :username, :autofocus => true, :placeholder => "Username", :class => "form-control"
      .row.form-group
        %div{:class => "col-sm-8"}
          %p= password_field_tag :password, nil, :class => "form-control", :placeholder => "Password"
          =# f.password_field :password, :placeholder => "Password", :class => "form-control"
      .row.form-group
        %div{:class => "col-sm-8"}
          = check_box_tag :remember_me, 1, params[:remember_me]
          Remember me
          =# f.check_box :remember_me
          =# f.label :remember_me
      .row
        %div{:class => "col-sm-8"}
          = button_tag(:type => 'submit', :class => 'btn btn-large btn-primary', data: { disable_with: "Please wait..." }) do
            Log In
          =# f.submit "Log In", :class => "btn btn-large btn-primary", data: { disable_with: "Please wait ..." }
-#
  .container
    %br
    .form-signin
      .pagination-centered
        - cache do
          %p= image_tag("SYD_200_133.png")
        %div
          %p
            %a{:href => "#login_modal", "data-toggle" => "modal", :class => "btn btn-inverse"}
              Log In
              %i.icon-lock
        %div
          %p
            %a{:href => "#contact_us", "data-toggle" => "modal", :class => "btn"}
              Information Request
              %i.icon-envelope
          -#
            %a{:href => signup_path, :class => "btn"}
              Sign Up
              %i.icon-lock
        .modal{id: "login_modal", style: "display: none;"}
          .modal-header
            %strong
              Log In
              %i.icon-lock
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
          .modal-body
            = form_tag sessions_path, class: 'form-horizontal' do
              %p= text_field_tag :login, params[:login], :class => "span3", :placeholder => "Username or email"
              %p= password_field_tag :password, nil, :class => "span3", :placeholder => "Password"
              %p
                %label{class: 'checkbox inline'}
                  = check_box_tag :remember_me, 1, params[:remember_me]
                  Remember me
              = button_tag(:type => 'submit', :class => 'btn btn-inverse', data: { disable_with: "Please wait..." }) do
                Log in <i class="icon-lock"></i>
              |
              = link_to "Forgot?", new_password_reset_path
          .modal-footer
            = link_to "Close", '#', :class => "btn", "data-dismiss" => "modal"

    - if false
      .form-signin
        %h2.form-signin-heading
          = image_tag("SYD_600_400.png")
        - if false
          %p== Don't have an account? #{link_to "Sign up!", signup_path, :class => "btn btn-large btn-success"}
        = form_tag sessions_path do
          = text_field_tag :login, params[:login], :class => "input-block-level", :placeholder => "Username or email"
          = password_field_tag :password, nil, :class => "input-block-level", :placeholder => "Password"
          = submit_tag "Sign in", :class => "btn btn-large btn-primary"
        = link_to "Sign up!", signup_path

    .modal{id: "contact_us", style: "display: none;"}
      .modal-header
        %strong
          Scrap Yard Dog Information Request
          %i.icon-envelope
        = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
      .modal-body
        =# form_tag '#', "data-remote" => true do
        = form_tag contact_us_user_mailer_index_path, "data-remote" => true do
          .row-fluid
            %fieldset.span6
              .form-group
                = label_tag :email, "Email", class: "control-label"
                = email_field_tag :email, params[:email], class: "form-control", placeholder: "Your email address", required: true
            %fieldset.span6
              .form-group
                = label_tag :name, "Name", class: "control-label"
                = text_field_tag :name, params[:name], class: "form-control", placeholder: "Your first & last name", required: true
          .row-fluid
            %fieldset.span6
              .form-group
                = label_tag :company, "Company", class: "control-label"
                = text_field_tag :company, params[:company], class: "form-control", placeholder: "Your company name", required: true
            %fieldset.span6
              .form-group
                = label_tag :phone, "Phone", class: "control-label"
                = phone_field_tag :phone, params[:phone], class: "form-control", placeholder: "Phone number to reach you at"
          .row-fluid
            %fieldset.span6
              .form-group
                = label_tag :address, "Address", class: "control-label"
                = text_area_tag :address, params[:address], class: "form-control", rows: 4, placeholder: "Address, City, State, Zip"
            %fieldset.span6
              .form-group
                = label_tag :number_of_locations, "Number of Locations", class: "control-label"
                = text_field_tag :number_of_locations, params[:number_of_locations], class: "form-control span7", placeholder: "Number of Locations"
              .form-group
                = label_tag :tickets_per_day, "Tickets per Day", class: "control-label"
                = text_field_tag :tickets_per_day, params[:tickets_per_day], class: "form-control span7", placeholder: "Tickets per Day"
          .row-fluid
            %fieldset
              .form-group
                = label_tag :message, "Message", class: "control-label"
                = text_area_tag :message, params[:message], class: "form-control", rows: 6, placeholder: "Your message ..."
          .row-fluid
            %fieldset.span6
              .form-group
                .g-recaptcha{"data-sitekey" => "6LcpTf4SAAAAAHLj5i8QaEI-aSTY9CG4NIqZIidd"}
          %br
          .modal-footer
            = button_tag(:type => 'submit',  :class => 'btn btn-primary', data: { disable_with: "Thank you! ... now sending" }) do
              Send
            = link_to 'Close', '#', :class => 'btn btn-default', "data-dismiss" => "modal"