.container
  %table.table.table-striped.table-hover.sortable{"data-provides" => "rowlink"}
    %thead
      %tr
        %th= sortable 'host_start_count', "Host Start Count"
        %th= sortable 'host_cycle_count', "Host Cycle Count"
        %th= sortable 'dev_start_count', "Dev Start Count"
        %th= sortable 'dev_cycle_count', "Dev Cycle Count"
        
    %tbody
      - @bill_counts.each do |bill_count|
        %tr
          %td= link_to bill_count.host_start_count, bill_count
          %td= bill_count.host_cycle_count
          %td= bill_count.dev_start_count
          %td= bill_count.dev_cycle_count
          
  = paginate @bill_counts
            