%div{:id => "upload_form", :class => "modal fade", :tabindex => "-1", :style => "display:none;"}
  = form_for ImageFile.new do |f|
    .modal-dialog.modal-sm
      .modal-content
        -#
          .modal-header
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
            %strong New Picture
        .modal-body
          = f.hidden_field :user_id, value: current_user.id
          .form-group
            = f.label "Ticket Number", :class => 'control-label'
            = f.text_field :ticket_number, :placeholder => "Ticket Number", value: @ticket_number, class: "form-control input-lg"
          .form-group{:id => "event_code"}
            = f.label :event_code, :class => 'control-label'
            = f.text_field :event_code, :placeholder => "Event Code", class: "form-control typeahead input-lg", data: { events: "#{Image.event_codes.map(&:event_code)}"}
          .form-group
            = f.label :file, :class => 'control-label'
            = f.file_field :file, title: 'Choose', class: 'btn btn-warning'
        .modal-footer
          %button.btn.btn-default.btn-lg{"data-dismiss" => "modal", :type => "button"} x
          = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg', data: { disable_with: "Please wait..." }) do
            Create
            %i.fa.fa-photo

:javascript
  $('input[type=file]').bootstrapFileInput();