- if @bin_1_column_count > 0
  - if (device.bill_count_1.present? and device.bill_count_1.status == 1)
    %td{class: 'danger'}= link_to device.bin_1_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_1.status_description}"
  - elsif (device.bill_count_1.present? and device.bill_count_1.status == 2)
    %td{class: 'danger'}= link_to device.bin_1_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_1.status_description}"
  - elsif (device.bill_count_1.present? and device.bill_count_1.status == 4)
    %td{class: 'warning'}= link_to device.bin_1_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_1.status_description}"
  - else
    %td= device.bin_1_count

- if @bin_2_column_count > 0
  - if (device.bill_count_2.present? and device.bill_count_2.status == 1)
    %td{class: 'danger'}= link_to device.bin_2_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_2.status_description}"
  - elsif (device.bill_count_2.present? and device.bill_count_2.status == 2)
    %td{class: 'danger'}= link_to device.bin_2_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_2.status_description}"
  - elsif (device.bill_count_2.present? and device.bill_count_2.status == 4)
    %td{class: 'warning'}= link_to device.bin_2_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_2.status_description}"
  - else
    %td= device.bin_2_count

- if @bin_3_column_count > 0
  - if (device.bill_count_3.present? and device.bill_count_3.status == 1)
    %td{class: 'danger'}= link_to device.bin_3_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_3.status_description}"
  - elsif (device.bill_count_3.present? and device.bill_count_3.status == 2)
    %td{class: 'danger'}= link_to device.bin_3_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_3.status_description}"
  - elsif (device.bill_count_3.present? and device.bill_count_3.status == 4)
    %td{class: 'warning'}= link_to device.bin_3_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_3.status_description}"
  - else
    %td= device.bin_3_count

- if @bin_4_column_count > 0
  - if (device.bill_count_4.present? and device.bill_count_4.status == 1)
    %td{class: 'danger'}= link_to device.bin_4_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_4.status_description}"
  - elsif (device.bill_count_4.present? and device.bill_count_4.status == 2)
    %td{class: 'danger'}= link_to device.bin_4_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_4.status_description}"
  - elsif (device.bill_count_4.present? and device.bill_count_4.status == 4)
    %td{class: 'warning'}= link_to device.bin_4_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_4.status_description}"
  - else
    %td= device.bin_4_count

- if @bin_5_column_count > 0
  - if (device.bill_count_5.present? and device.bill_count_5.status == 1)
    %td{class: 'danger'}= link_to device.bin_5_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_5.status_description}"
  - elsif (device.bill_count_5.present? and device.bill_count_5.status == 2)
    %td{class: 'danger'}= link_to device.bin_5_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_5.status_description}"
  - elsif (device.bill_count_5.present? and device.bill_count_5.status == 4)
    %td{class: 'warning'}= link_to device.bin_5_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_5.status_description}"
  - else
    %td= device.bin_5_count

- if @bin_6_column_count > 0
  - if (device.bill_count_6.present? and device.bill_count_6.status == 1)
    %td{class: 'danger'}= link_to device.bin_6_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_6.status_description}"
  - elsif (device.bill_count_6.present? and device.bill_count_6.status == 2)
    %td{class: 'danger'}= link_to device.bin_6_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_6.status_description}"
  - elsif (device.bill_count_6.present? and device.bill_count_6.status == 4)
    %td{class: 'warning'}= link_to device.bin_6_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_6.status_description}"
  - else
    %td= device.bin_6_count

- if @bin_7_column_count > 0
  - if (device.bill_count_7.present? and device.bill_count_7.status == 1)
    %td{class: 'danger'}= link_to device.bin_7_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_7.status_description}"
  - elsif (device.bill_count_7.present? and device.bill_count_7.status == 2)
    %td{class: 'danger'}= link_to device.bin_7_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_7.status_description}"
  - elsif (device.bill_count_7.present? and device.bill_count_7.status == 4)
    %td{class: 'warning'}= link_to device.bin_7_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_7.status_description}"
  - else
    %td= device.bin_7_count

- if @bin_8_column_count > 0
  - if (device.bill_count_8.present? and device.bill_count_8.status == 1)
    %td{class: 'danger'}= link_to device.bin_8_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_8.status_description}"
  - elsif (device.bill_count_8.present? and device.bill_count_8.status == 2)
    %td{class: 'danger'}= link_to device.bin_8_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_8.status_description}"
  - elsif (device.bill_count_8.present? and device.bill_count_8.status == 4)
    %td{class: 'warning'}= link_to device.bin_8_count, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{device.bill_count_8.status_description}"
  - else
    %td= device.bin_8_count