%table.table.table-striped.table-hover
  %thead
    %tr
      %th= "Cassette"
      %th= "Denomination"
      %th= "Status"

  %tbody
    - @device.bill_counts.each do |bill_count|
      %tr
        %td= bill_count.cassette_id
        %td= number_to_currency(bill_count.denomination)
        %td= bill_count.status_description