%br
- @bill_hists.group_by{ |bh| bh.cut_dt }.each_with_index do |(day, bill_hists), index| 
  .row
    -panel_color=cycle('default','info')
    %div.col-xs-12.col-md-4
      %div{class: "panel panel-#{panel_color}"}
        .panel-heading
          %h3.panel-title
            %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapse_details_#{index}"}
              = day.strftime("%-m/%-d/%y %H:%M:%S")
              Details
        %div{id: "collapse_details_#{index}", class: "collapse"}
          %br
          %dl.dl-horizontal
            %dt
              %strong= "New Start:"
            %dd= number_to_currency(BillHist.new_start_total(day))
            %dt
              %strong= "Old Start:"
            %dd= number_to_currency(BillHist.old_start_total(day))
            %dt
              %strong= "Added:"
            %dd= number_to_currency(BillHist.added(day))
            %dt
              %strong= "Term Bill Disp:"
            %dd= number_to_currency(BillHist.terminal_bill_dispensed(day))
            %dt
              %strong= "Host Bill Disp:"
            %dd= number_to_currency(BillHist.host_bill_dispensed(day))
            %dt
              %strong= "Term Remain:"
            %dd= number_to_currency(BillHist.new_start_total(day) - BillHist.terminal_bill_dispensed(day))
            %dt
              %strong= "Host Remain:"
            %dd= number_to_currency(BillHist.new_start_total(day) - BillHist.host_bill_dispensed(day))

        -#
          %table.table.table-striped.table-hover
            %thead
              %tr
                %th New Start
                %th Old Start
                %th Added
                %th Term Bill Disp
                %th Host Bill Disp
                %th Term Remain
                %th Host Remain
              %tr
                %td= number_to_currency(BillHist.new_start_total(day))
                %td= number_to_currency(BillHist.old_start_total(day))
                %td= number_to_currency(BillHist.added(day))
                %td= number_to_currency(BillHist.terminal_bill_dispensed(day))
                %td= number_to_currency(BillHist.host_bill_dispensed(day))
                %td= number_to_currency(BillHist.new_start_total(day) - BillHist.terminal_bill_dispensed(day))
                %td= number_to_currency(BillHist.new_start_total(day) - BillHist.host_bill_dispensed(day))

    - unless (index + 1) == @bill_hists.group_by{ |bh| bh.cut_dt }.count
      %div.col-xs-12.col-md-8
        %div{class: "panel panel-#{panel_color}"}
          .panel-heading
            %h3.panel-title
              %a{"aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapse_transactions_#{index}"}
                = day.strftime("%-m/%-d/%y %H:%M:%S") 
                Transactions
          %div{id: "collapse_transactions_#{index}", class: "collapse"}
            %table.table.table-striped.table-hover
              %thead
                %tr
                  %th= "TranID"
                  %th= "Date"
                  %th= "Status"
                  %th= "Error Code"
                  %th= "Tran Code"
                  %th= "Receipt"
                  %th= "Amt Req"
                  %th= "Amt Auth"
                  %th= "Images"
              %tbody
                - @device.transactions_date_span_search((@bill_hists.group_by{ |bh| bh.cut_dt }.keys[index + 1]).strftime("%Y-%m-%d %H:%M:%S"), day).reverse.each do |transaction|
                  %tr
                    %td= transaction.id
                    %td= transaction.CreateDate.strftime("%-m/%-d/%y %H:%M:%S")
                    %td= link_to transaction.status_description, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{transaction.status_long_description}"
                    - unless transaction.error_code_description == 'Success'
                      %td= link_to transaction.error_code_description, '#', "data-toggle" => "tooltip", "data-placement" => "right", "title" => "#{transaction.error_code_long_description}"
                    - else
                      %td= "Success"
                    %td= transaction.tran_code
                    %td= transaction.receipt_nbr
                    %td= number_to_currency(transaction.amt_req)
                    %td= number_to_currency(transaction.amt_auth)
                    %td= 'None'

= paginate @bill_hists, :param_name => "bill_hists_page"