.container
  .panel.panel-primary
    .panel-heading
      %h3.panel-title
        = "Cash Dispensers and ATMs"
    %table.table.table-striped.sortable{"data-provides" => "rowlink"}
      %thead
        %tr
          %th= "Dev ID"
          %th= "Description"
          %th= "State"
          %th= "Bin 1"
          %th= "Bin 2"
          %th= "Bin 3"
          %th= "Bin 4"
          %th= "Bin 5"
          %th= "Bin 6"
          %th= "Bin 7"
          %th= "Bin 8"
          %th= "Remaining"

      %tbody
        - @devices.each do |device|
          %tr
            %td= link_to device.id, device
            %td= device.description
            %td= "Unknown"
            %td= device.bin_1
            %td= device.bin_2
            %td= device.bin_3
            %td= device.bin_4
            %td= device.bin_5
            %td= device.bin_6
            %td= device.bin_7
            %td= device.bin_8
            %td= number_to_currency(device.remaining)
          
  = paginate @devices
            