.container
  .panel.panel-primary
    .panel-heading
      %h3.panel-title
        = "Cash Dispensers and ATMs"
    %table.table.table-striped.sortable
      %thead
        %tr
          %th= "Dev ID"
          %th= "Description"
          %th= "State"
          %th= "Bin 1"
          %th= "Bin 2"
          %th= "Bin 3"
          %th= "Bin 4"
          %th= "Bin 5"
          %th= "Bin 6"
          %th= "Bin 7"
          %th= "Bin 8"
          %th= "Remaining"

      %tbody
        - @devices.each do |device|
          %tr
            %td= link_to device.id, device
            %td= device.description
            %td= "Unknown"
            = render partial: 'bin_details', locals: {device: device}
            -#
              %td= device.bin_2_count
              %td= device.bin_3_count
              %td= device.bin_4_count
              %td= device.bin_5_count
              %td= device.bin_6_count
              %td= device.bin_7_count
              %td= device.bin_8_count
            %td= number_to_currency(device.remaining)
          
  = paginate @devices
            