- model_class = Device
.container
  .panel.panel-primary
    .panel-heading
      %h3.panel-title
        = "Device #{@device.id} Details"
        .pull-right= @device.description
          
    .panel-body
      %ul{class: "nav nav-tabs"}
        %li.active{:role => "presentation"}
          %a{:href => "#transactions", :data => {:toggle => "tab"}} Transactions
        %li{:role => "presentation"}
          %a{:href => "#statuses", :data => {:toggle => "tab"}} Statuses
        %li{:role => "presentation"}
          %a{:href => "#cards", :data => {:toggle => "tab"}} Cards
        %li{:role => "presentation"}
          %a{:href => "#cuts", :data => {:toggle => "tab"}} Cuts
      .tab-content
        .tab-pane.active{:id => "transactions"}
          = render template: "transactions/index"
        .tab-pane{:id => "statuses"}
          = render template: "dev_statuses/index"
        .tab-pane{:id => "cards"}
          .row-fluid
            = render template: "cards/index"
        .tab-pane{:id => "cuts"}
          .row-fluid
            = render partial: 'cuts'
            


:javascript
  //*** Remember the selected tab on page refresh ***
  $(function() {
    //for bootstrap 3 use 'shown.bs.tab' instead of 'shown' in the next line
    $('a[data-toggle="tab"]').on('click', function (e) {
      //save the latest tab; use cookies if you like 'em better:
      localStorage.setItem('lastTab', $(e.target).attr('href'));
    });
    //go to the latest tab, if it exists:
    var lastTab = localStorage.getItem('lastTab');
    if (lastTab) {
      $('a[href="'+lastTab+'"]').click();
    }
  });