.navbar.navbar-default.navbar-fixed-bottom{ role: 'navigation'}
  .container-fluid
    .navbar-header
      %div{class: 'navbar-brand navbar-center'}
        .col-xs-4.col-sm-4
          %a{href: "#search_form", "data-toggle" => "modal", :alt => "search_form"}
            %i.fa.fa-search.fa-lg
            = "Search" unless mobile_device?
        .col-xs-4.col-sm-4
          %a{href: "#upload_form", "data-toggle" => "modal", :alt => "new_image_file_form"}
            %i.fa.fa-camera.fa-lg
            = "Picture" unless mobile_device?
        .col-xs-4.col-sm-4
          %a{href: "#", "data-toggle" => "modal", :alt => "search_form"}
            %i.fa.fa-gear.fa-lg
            = "Settings" unless mobile_device?

- unless current_user.blank?
  = render partial: "images/search_modal"
  = render partial: "image_files/upload_modal"