- model_class = UserRole
.container
  %div.col-xs-12.col-md-6
    .panel.panel-primary
      .panel-heading
        %h3.panel-title User Role Details
      .panel-body
        .row
          .col-xs-12.col-md-4
            %p
              %strong= "User Name:"
              %br
              = @user_role.user_name
          .col-xs-12.col-md-4
            %p
              %strong= "Dev Group:"
              %br
              = @user_role.dev_group.present? ? @user_role.dev_group : "None"
          .col-xs-12.col-md-4
            %p
              %strong= "Dev Site:"
              %br
              = @user_role.dev_site.present? ? @user_role.dev_site : "None"
        .row
          .col-xs-12.col-md-12
            %p
              %strong= "Permissions:"
              %br
              = @user_role.role_permissions.each.map{ |rp| rp.ez_permission_description.Description }.join(', ')