.container
  %table.table.table-striped.table-hover.sortable{"data-provides" => "rowlink"}
    %thead
      %tr
        %th= sortable 'dev_id', "Dev ID"
        %th= sortable 'denomination', "Denomination"
        %th= sortable 'cassette_nbr', "Cassette Number"
        %th= sortable 'cassette_id', "Cassette ID"
        
    %tbody
      - @denoms.each do |denom|
        %tr
          %td= link_to denom.dev_id, denom
          %td= number_to_currency(denom.denomination)
          %td= denom.cassette_nbr
          %td= denom.cassette_id
          
  = paginate @denoms
            