- model_class = Denom
.container
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Denomination Details
    .panel-body
      .row-fluid
        .col-xs-12.col-md-6
          %p
            %strong= "Dev ID:"
            %br
            = @denom.id
          %p
            %strong= "Cassette Number:"
            %br
            = @denom.cassette_nbr
        .col-xs-12.col-md-6
          %p
            %strong= "Denomination:"
            %br
            = number_to_currency(@denom.denomination)
          %p
            %strong= "Cassette ID:"
            %br
            = @denom.cassette_id