%table.table.table-striped.table-hover.sortable
  %thead
    %tr
      %th= cards_sortable 'receipt_nbr', "Receipt"
      %th= cards_sortable 'card_amt', "Total"
      %th= cards_sortable 'avail_amt', "Available"
      %th= cards_sortable 'card_status', "Status"
      %th= cards_sortable 'issued_date', "Date Issued"
      %th= cards_sortable 'last_activity_date', "Last Used"

  %tbody
    - @cards.each do |card|
      %tr
        %td= card.receipt_nbr
        %td= number_to_currency(card.card_amt)
        %td= number_to_currency(card.avail_amt)
        %td= card.card_status
        %td= card.issued_date.strftime("%-m/%-d/%y %H:%M:%S")
        %td= card.last_activity_date.strftime("%-m/%-d/%y %H:%M:%S")

= paginate @cards, :param_name => "cards_page"
            