- model_class = Card
.container
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Card Details
    .panel-body
      .row-fluid
        .col-xs-12.col-md-6
          %p
            %strong= "Bank ID:"
            %br
            = @card.bank_id_nbr.to_i
          %p
            %strong= "Dev ID:"
            %br
            = @card.dev_id
          %p
            %strong= "Available Amount:"
            %br
            = number_to_currency(@card.avail_amt)
          %p
            %strong= "Date Issued:"
            %br
            = @card.issued_date
          %p
            %strong= "Receipt Number:"
            %br
            = @card.receipt_nbr
          %p
            %strong= "Card Sequence:"
            %br
            = @card.card_seq
        .col-xs-12.col-md-6
          %p
            %strong= "Card Number:"
            %br
            = @card.id
          %p
            %strong= "Total Amount:"
            %br
            = number_to_currency(@card.card_amt)
          %p
            %strong= "Status:"
            %br
            = @card.card_status
          %p
            %strong= "Last Used:"
            %br
            = @card.last_activity_date
          %p
            %strong= "Barcode Hash:"
            %br
            = @card.barcodeHash
          