.container
  %table.table.table-striped.sortable{"data-provides" => "rowlink"}
    %thead
      %tr
        %th= sortable 'tranID', "TranID"
        %th= sortable 'CreateDate', "Date"
        %th= sortable 'dev_id', "Dev ID"
        %th= sortable 'custID', "Cust ID"
        %th= sortable 'tran_status', "Status"
        %th= sortable 'error_code', "Error Code"
        %th= sortable 'tran_code', "Tran Code"
        %th= sortable 'card_nbr', "Card #"
        %th= sortable 'receipt_nbr', "Receipt"
        %th= sortable 'amt_req', "Amt Req"
        %th= sortable 'amt_auth', "Amt Auth"
        %th= sortable 'sec_tran_code', "Sec Tran Code"
    %tbody
      - @transactions.each do |transaction|
        %tr
          %td= link_to transaction.id, transaction
          %td= transaction.CreateDate
          %td= transaction.dev_id
          %td= transaction.custID
          %td= transaction.tran_status
          %td= transaction.error_code
          %td= transaction.tran_code
          %td= transaction.card_nbr
          %td= transaction.receipt_nbr
          %td= transaction.amt_req
          %td= transaction.amt_auth
          %td= transaction.sec_tran_code
  = paginate @transactions
            