%div{:id => "search_form", :class => "modal fade", :tabindex => "-1", :style => "display:none;"}
  = form_tag images_path, :method => 'get', :class => "form-inline" do
    .modal-dialog.modal-sm
      .modal-content
        .modal-body
          %div.form-group{:id => "ticket_search"}
            = label_tag "Ticket Number", nil, :class => 'control-label'
            - unless params[:q].blank?
              = search_field_tag "q[ticket_nbr_eq]", nil, :placeholder => "Ticket Number", value: params[:q][:ticket_nbr_eq], class: "form-control input-lg"
            - else
              = search_field_tag "q[ticket_nbr_eq]", nil, :placeholder => "Ticket Number", class: "form-control input-lg"
          .form-group
            = label_tag "Start Date", nil, :class => 'control-label'
            - unless params[:q].blank?
              = date_field_tag "q[sys_date_time_gteq]", nil, :placeholder => "Start Date", value: params[:q][:sys_date_time_gteq], class: "form-control input-lg"
            - else
              = date_field_tag "q[sys_date_time_gteq]", nil, :placeholder => "Start Date", class: "form-control input-lg"
          .form-group
            = label_tag "End Date", nil, :class => 'control-label'
            - unless params[:q].blank?
              = date_field_tag "q[sys_date_time_lteq]", nil, :placeholder => "End Date", value: params[:q][:sys_date_time_lteq], class: "form-control input-lg"
            - else
              = date_field_tag "q[sys_date_time_lteq]", nil, :placeholder => "End Date", class: "form-control input-lg"
          .form-group
            = label_tag :show_thumbnails, nil, :class => 'control-label'
            = hidden_field_tag :show_thumbnails, '0'
            = check_box_tag :show_thumbnails, 1, (params[:show_thumbnails] == '1' or session[:thumbnail_choice] == '1'), id: "show_thumbnails"
          - if @ticket_number.blank?
            .form-group
              = label_tag :one_image_per_ticket, "One result per ticket", :class => 'control-label'
              = hidden_field_tag :one_image_per_ticket, '0'
              = check_box_tag :one_image_per_ticket, 1, params[:one_image_per_ticket] != '0', id: "one_image_check_box"
          - else
            .form-group
              = label_tag :one_image_per_ticket, "One result per ticket", :class => 'control-label'
              = check_box_tag :one_image_per_ticket, 1, false, id: "one_image_check_box"
          
        .modal-footer
          %button.btn.btn-default.btn-lg{"data-dismiss" => "modal", :type => "button"} x
          =# link_to "Today", images_path(today: true), data: { disable_with: "..." }, class: 'btn btn-warning btn-lg'
          = button_tag(:type => 'submit', :class => 'btn btn-primary btn-lg', data: { disable_with: "Searching..." }) do
            Search
            %i.fa.fa-search