!!!
%html
  %head
    %title EZcash Web Monitor
    = favicon_link_tag 'favicon.ico'
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0' }
    %meta{ content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible' }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - unless current_user.blank?
      = render 'shared/navbar'
    - else
      = render 'shared/no_user_navbar'
    = render 'layouts/messages'
    = yield
    = render 'shared/footer'
    