.container
  %table.table.table-striped.sortable{"data-provides" => "rowlink"}
    %thead
      %tr
        %th= sortable 'ActID', "Act ID"
        %th= sortable 'CustomerID', "Customer ID"
        %th= sortable 'Balance', "Balance"
        
    %tbody
      - @accounts.each do |account|
        %tr
          %td= link_to account.id, account
          %td= account.CustomerID
          %td= number_to_currency(account.Balance)
          
  = paginate @accounts
            