- model_class = Account
.container
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Account Details
    .panel-body
      .row-fluid
        .col-xs-12.col-md-6
          %p
            %strong= "Act ID:"
            %br
            = @account.id
          %p
            %strong= "Balance:"
            %br
            = number_to_currency(@account.Balance)
        .col-xs-12.col-md-6
          %p
            %strong= "Customer ID:"
            %br
            = @account.CustomerID